<%- include('partials/header.ejs'); -%>
  <div class="app">
    <%- include('components/today.ejs', { listItems: todayList, listTitle: 'Today' }) %>
      <%- include('components/week.ejs', { listItems: weekList, listTitle: 'Week' }) %>
        <%- include('components/month.ejs', { listItems: monthList, listTitle: 'Month' }) %>
  </div>

  <%- include('partials/footer.ejs'); -%>